{% extends 'base.html' %}

{% load static %}

{% block title %}Deletar Obra{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center font-weight-bold">Deletar Obra: {{ obra.numero_identificativo }}</h1>
    <p>Você tem certeza que deseja deletar esta obra?</p>
    <div class="text-end mt-3">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Deletar</button>
            <a href="{% url 'obra_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
