<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    {% load static %}
    <!-- Link para o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/6+1g8tx5U3hmU7r4Wc5m8i5tp5G2uUyeq3a9x9p" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Link para o CSS personalizado -->
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: #4c7972;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://madeljor.com/assets/img/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                Minha Aplicação
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="entitiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ENTIDADES
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="entitiesDropdown">
                            <li><a class="dropdown-item" href="/clientes/">Clientes</a></li>
                            <li><a class="dropdown-item" href="/funcionarios/">Funcionários</a></li>
                            <li><a class="dropdown-item" href="/fornecedores/">Fornecedores</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/obras/">OBRAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/equipamentos/">EQUIPAMENTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/encomendas/">ENCOMENDAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/viaturas/">VIATURAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/extras/">EXTRA</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <button class="btn btn-outline-light" type="button">Usuário</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container my-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Scripts do Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-OgVRvuATP8O+Iu4I4cL1SyT4hMBqW5kD4Gg3hPbU7aW5+8H4Pjb/0R8N5o4bm5R2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-WXnH83eavD0R4fB1tKH92/Xnq5gE5S07U6CPN7lg+FjAwW50Ck60MvGqvnN4yPHK" crossorigin="anonymous"></script>
</body>
</html>
